table {
  width: 100%;
  text-align: left;
}
.container {
  flex-direction: column;
}

.entity-data {
  text-align: left;
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.button {
  text-align: right;
  padding-top: 20px;
  padding-right: 30px;
  float: right;
}

