<div class="container">
  <h2 mat-dialog-title>Edit Student</h2>
  <form novalidate [formGroup]="studentDataForm">
    <div class="form">
      <mat-form-field>
        <input matInput type="text" placeholder="Identification" formControlName="idNumber" />
        <mat-error *ngIf="isRequiredFieldWithError('idNumber')">
          Identification is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Names" formControlName="name">
        <mat-error *ngIf="isRequiredFieldWithError('name')">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Surnames" formControlName="surname" >
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="formMatcher"
               name="email">
        <mat-error *ngIf="isRequiredFieldWithError('email')">
          Please fill a valid email address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" name="address">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button class="edit-button" type="submit" [disabled]="formWithErrors()" mat-flat-button (click)="saveStudent()">Save</button>
      <button class="edit-button" mat-button (click)="closeStudentEdition()">Cancel</button>
    </div>
  </form>
</div>
