<div class="container">
  <h2 mat-dialog-title>Edit Course</h2>
  <form novalidate [formGroup]="courseDataForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Names" formControlName="name" [errorStateMatcher]="formMatcher">
        <mat-error *ngIf="courseDataForm.controls.name.hasError('maxlength')">Max length exceeded</mat-error>
        <mat-error *ngIf="courseDataForm.controls.name.hasError('required')">Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Teacher Name" formControlName="teacherName" [errorStateMatcher]="formMatcher" >
        <mat-error *ngIf="courseDataForm.controls.teacherName.hasError('maxlength')">Max length exceeded</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input type="number" matInput placeholder="Credits" formControlName="credits"  [errorStateMatcher]="formMatcher" >
        <mat-error *ngIf="courseDataForm.controls.credits.hasError('max')">Max value exceed</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button class="edit-button" type="submit" [disabled]="formWithErrors()" mat-flat-button (click)="saveCourse()">Save</button>
      <button class="edit-button" mat-button (click)="closeCourseEdition()">Cancel</button>
    </div>
  </form>
</div>
