<div class="filter-options">
  <div class="filter">
    Filter by
  </div>
  <div class="filter">
    <mat-checkbox [(ngModel)]="withoutStudents" (change)="filterChanged()">Only without students</mat-checkbox>
  </div>
  <div class="add-button">
    <button mat-flat-button (click)="addCourse()">Add Course</button>
  </div>
</div>
<div class="container">
  <table mat-table [dataSource]="listDataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="teacherName">
      <th mat-header-cell *matHeaderCellDef>Teacher</th>
      <td mat-cell *matCellDef="let element">{{element.teacherName}}</td>
    </ng-container>
    <ng-container matColumnDef="credits">
      <th mat-header-cell *matHeaderCellDef>Credits</th>
      <td mat-cell *matCellDef="let element">{{element.credits}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu">...</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editCourse(element.id)">Edit</button>
          <button mat-menu-item (click)="openDeleteConfirmation(element)">Delete</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: listColumns;"></tr>
  </table>
  <mat-paginator
    [length]="currentDataSource.totalElements"
    [pageSize]="currentDataSource.pageSize"
    [pageSizeOptions]="[5, 10, 30]"
    [showFirstLastButtons]="true"
    (page)="pageEvent = loadCourses($event)">
  </mat-paginator>
</div>
